* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    
}
body {
    background-color:lightslategray;
}
.caja1 {
    background-color:lightblue;

    
    
}

.boton {
    background-color: rgb(240, 249, 249);
    padding:10px;
    text-decoration: none;
    display: block;
}
.centrar {
    text-align: center;
}

input {
    width: 100%;
    height: 40px;
}




